
::-webkit-scrollbar {
width: 10px; 
}

::-webkit-scrollbar-track {
background: #f4f4f4; 
border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
background-color: #0072b1; 
border-radius: 10px; 
border: 2px solid #f4f4f4; 
}

::-webkit-scrollbar-thumb:hover {
background-color: #005a8f;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #c7edfb;
    z-index: 1000;
}

.logo {
    margin-left: 30px;
    font-size: 24px;
    font-weight: bold;
    width: 20px;
    height: 40px;
    color: #0072b1;
}
.logo-img{
    margin-top: 5px;
    height: 35px;
    width: 150px;
}
nav{
    margin-right: 30px;
}
nav a {
    margin: 0 10px;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.logout-btn {
    background-color: #0072b1;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

main {
    margin-top: 80px; 
    margin-left: 300px;
    width: calc(100% - 300px); 
    max-width: calc(100% - 300px); 
    display: flex;
    gap: 20px;
}
.sidebar {
    position:fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    left: 20px;
    background-color: #e0e0e0;
    padding: 20px;
    height: 500px;
    border-radius: 5px;
    gap: 10px;
    background-color: #c7edfb;
}

.menu-item {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}


.content {
    /* display: none; */
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    /* height: calc(100vh - 80px);  */
   
}
.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar select, .search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaf7ff;
    padding: 20px;
    border-radius: 10px;
}
.project-details h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.project-details p {
    color: #666;
}

.bid-btn {
    background-color: #000;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.bid-btn a {
    text-decoration: none;  
    color: rgb(255, 255, 255);           
}

.bid-btn a:hover {
    text-decoration: underline;
}

.bidded-btn {
    background-color: lightgrey; 
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}
.bidded-btn a{
    text-decoration: none;
    color: rgb(72, 70, 70);
    cursor: not-allowed;
    pointer-events: none;
}

.bidded-btn:hover {
    background-color: lightgrey;
}


/* Profile image
*/
.profile-picture {
    margin: 30px 0px 0px 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-header-text {
    flex: 1;
    margin-top: 30px;
    text-align: center;
  }
  
  .profile-header-text h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .profile-header-text p {
    font-size: 14px;
    color: #777;
  }
  